In [1]:
#Control Flow if else 
# Why we are using this

In [2]:
a=10
if a:# it try to check wether a exist or not if exist thenthen print 
    print("This is value of a")

This is value of a

In [6]:
a=10
if a < 20:
    print ("a is less than 20")

a is less than 20

In [7]:
a < 20

True

In [8]:
# in python there is no curly braces similer to java
# here colon is compulsory and at least one space 
#afer colon and in next line then at least on tab

In [9]:
a=10
if a < 20:
    pass # dont want to mention body use pass key workd

In [11]:
a=10
if a>20:
    print("this is gretor than 20")
else:
    print ("this is less  than 20")

this is less  than 20

In [12]:
a=10
if a>20:
    print("this is gretor than 20")
if a==10:
    print("this is alternate statement")
else:
    print ("this is less  than 20")

this is alternate statement

In [13]:
a=10
if a>20:
    print("this is gretor than 20")
if a==10:
    print("this is alternate statement")
elif a<20:
    print ("print from elif")
else:
    print ("this is less  than 20")
    # if condition found it will not check next condition

this is alternate statement

In [14]:
a=10
if a>20:
    print("this is gretor than 20")
if a==30:
    print("this is alternate statement")
elif a<20:
    print ("print from elif")
else:
    print ("this is less  than 20")

print from elif

In [15]:
a=10
if a>20:
    print("this is gretor than 20")
if a==30:
    print("this is alternate statement")
elif type(a)==int:
     print("check ing ")
elif a<20:
    print ("print from elif")
else:
    print ("this is less  than 20")

check ing

In [16]:
type(a)==int

True

In [17]:
# select and drag in other cell it will move selected text in netx cell

In [20]:
# going to shopping mall and see if discount is 
Discount=int(input("Please enter disocunt %"))
if Discount==50:
    print("you can buy all the items listed in row 1")
elif Discount==30:
    print("you can buy all items from row 2")
elif Discount==20:
    print("send user to row 3")
elif Discount>10:
    print("send him to 4th row ")
else :
    print("There is no item available")

Please enter disocunt %50
you can buy all the items listed in row 1

In [23]:
income =int(input())
if income>1000:
    print ("you can get a platinum card")
elif income>800:
    print("you will be able to get gold card")
else :
    print ("you won't be able to get any card")

10
you won't be able to get any card

In [4]:
# nested if 
income1 =int(input("enter number"))
if income1>1000:
    print ("you can get a platinum card")
    if income1>2000:
        print ("you will be able to get anathor facilities")
        elif income1>1500:
               print ("you would not  be able to get anathor facilities")
        else :
            print("No option")
elif income1>800:
    print("you will be able to get gold card")
else :
    print ("you won't be able to get any card")

SyntaxError: invalid syntax (<ipython-input-4-c09aa20ba3a1>, line 7)

In [1]:
val=int(input())
if val == 10: print("this is 10")

10
this is 10

In [7]:
# For Loop
l=[2,3,4,5,6,1,2,3,5]
l

[2, 3, 4, 5, 6, 1, 2, 3, 5]

In [6]:
for i in l:
    print(i)

2
3
4
5
6
1
2
3
5

In [8]:
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 5]

In [10]:
l=["Sudh",[1,2,3,4,5],(2,3,4,5,6),56,67,6+7j,True,45.67]
for i in ["Sudh",[1,2,3,4,5],(2,3,4,5,6),56,67,6+7j,True,45.67]:
    print (i)

Sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67

In [19]:
l=["Sudh",[1,2,3,4,5],(2,3,4,5,6),56,67,6+7j,True,45.67,"Kumar"]
for i in l:
    print (i)

Sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
Kumar

In [21]:
for i in l:
    if type(i) == str:
         print (i) #print only str variable 
    print (i) # becuase of indent it print all element that indentation is important

Sudh
Sudh
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
Kumar
Kumar

In [23]:
for n in l:
    if type(n) == list:
        print(n[2])
        print(n[::-1])

3
[5, 4, 3, 2, 1]

In [25]:
s="sudh kumar"
for i in s:
    print(i+"1")

s1
u1
d1
h1
 1
k1
u1
m1
a1
r1

In [26]:
t=(1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [28]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
for n in l:
    if type(n) == list or type(n) == tuple:
        print(n)

[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)

In [35]:
#nested for loop 
for n in l:
    if type(n) == list or type(n) == tuple:
        print(type(n),n)
        for i in n:
             print(i)

<class 'list'> [1, 2, 3, 4, 5]
1
2
3
4
5
<class 'tuple'> (2, 3, 4, 5, 6)
2
3
4
5
6

In [43]:
n=5
for i in range(n):
     print("* " * i)

*
* *
* * *
* * * *

In [45]:
n=5 
for i in range(n):
    for j in range(i+1):
        print(".",end="")
    print("")

.
..
...
....
.....

In [49]:
n=int(input()) 
for i in range(n):
    for j in range(i+1):
        print(".",',',end="_") #end the line if it is blank
    print(" ")

5
. ,_
. ,_. ,_
. ,_. ,_. ,_
. ,_. ,_. ,_. ,_
. ,_. ,_. ,_. ,_. ,_

In [50]:
#Task
"""1 Create structure 
  *
 * *
* * *
 * *
  *
2- L=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,6,8,8,2]]
   1->2
   2->2
   3->2
   l2
   2->3
   
   l
   8->2
  """

'1 Create structure \n  *\n * *\n* * *\n * *\n  *\n2- L=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,6,8,8,2]]\n   1->2\n   2->2\n   3->2\n   l2\n   2->3\n   \n   l\n   8->2\n  '

In [100]:
n=5
for i in range(n):
    print("*"*i)
#for j in range(n,0,-1):     print("*"*j)

*
**
***
****

In [65]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,6,8,8,2]]
print(l)

[[1, 1, 2, 2, 3, 3], [2, 4, 2, 2, 5], [1, 5, 6, 8, 8, 2]]

In [94]:
for i in l:
    print (i)
    count=0
    for j in i:
         print(j)

[1, 1, 2, 2, 3, 3]
1
1
2
2
3
3
[2, 4, 2, 2, 5]
2
4
2
2
5
[1, 5, 6, 8, 8, 2]
1
5
6
8
8
2