In [1]:
#Tuple and functions 
#tupel is immutbale entity 
#set
#dictionary 
#function
#itreable

In [15]:
t=(1,2,3,4,5,6,7,"Sudh","ineuron")
t[0]

1

In [4]:
t[0:4] #slice operations

(1, 2, 3, 4)

In [6]:
t.count(2) # how many times char appeard

1

In [9]:
t.count("Sudh")

1

In [10]:
t.index(1)

0

In [11]:
t.index("sudh")

ValueError: tuple.index(x): x not in tuple

In [12]:
t.index("Sudh")

7

In [13]:
del(t)

In [14]:
t

NameError: name 't' is not defined

In [16]:
t

(1, 2, 3, 4, 5, 6, 7, 'Sudh', 'ineuron')

In [17]:
#set is anathor collection 
s=set()
s.add(3)

In [18]:
s.add(5)

In [19]:
s.add("sudh")

In [20]:
s.add(3)

In [21]:
print(s)

{'sudh', 3, 5}

In [22]:
#set hold distinct data set so here it will not keep 3 2 times

In [25]:
s1={3,4,6,7,8,8,9,9,"sudh","Sudh"}
s1

{3, 4, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [24]:
#Here it remove 8 and 9 as it keep single 
s1

{3, 4, 6, 7, 8, 9}

In [26]:
s1

{3, 4, 6, 7, 8, 9, 'Sudh', 'sudh'}

In [27]:
#read book and remove duplicate there we use set 
#need to  ti use

In [28]:
l=[1,2,3,45,5,6,5,6,7,8,8]
set(l)

{1, 2, 3, 5, 6, 7, 8, 45}

In [29]:
l=[1,2,3,45,5,6,5,6,7,8,8,[1,3,4,5]]
set(l)
# it does not work becuase it is not unique

TypeError: unhashable type: 'list'

In [33]:
s1=set()
for i in l:
    if type(i)!=list:
        s1.add(i)
        
s1

{1, 2, 3, 5, 6, 7, 8, 45}

In [34]:
s1.remove(3)

In [35]:
s1

{1, 2, 5, 6, 7, 8, 45}

In [36]:
s.remove(12) #elememt is not avialable then give key error

KeyError: 12

In [37]:
s1.discard(5)
s1

{1, 2, 6, 7, 8, 45}

In [38]:
s1.discard(4) #here it will not give any error

In [39]:
#but in case of remove it give give error

In [41]:
x={"ineuron","machine","learning"}
y={"stats","deep Learning","Computer vision","abc"}
x.difference(y) #exists in x but not in y

{'ineuron', 'learning', 'machine'}

In [42]:
s

{3, 5, 'sudh'}

In [44]:
s[0] # set does not support extract

TypeError: 'set' object is not subscriptable

In [45]:
s[0:2]# slicing does not support in set

TypeError: 'set' object is not subscriptable

In [46]:
for i in s:
    print(i)

sudh
3
5

In [47]:
#index operation in list or tuple but not in set
list(s)

['sudh', 3, 5]

In [48]:
tuple(s)

('sudh', 3, 5)

In [49]:
#dictionary 
#it is collection which hold data in key and value pair 

d={}
type(d)

dict

In [50]:
# so by default it consider dictionary
s={2,3}
type(s)

set

In [52]:
#set alwasys hold flat data
d={"key","Value"}
d

{'Value', 'key'}

In [53]:
l=[0,1,2,3,1,4,5,6]
l[0]

0

In [54]:
#oxford dictionary is example of dict
d={4:"sudh",5:"kumar","k1":"xyz","k2":[1,2,3,4]}

In [55]:
d

{4: 'sudh', 5: 'kumar', 'k1': 'xyz', 'k2': [1, 2, 3, 4]}

In [56]:
#it can be differnt type of key data type 
d={4:"sudh",5:"kumar",#:"sdf"} #special char is ot wokr

SyntaxError: unexpected EOF while parsing (<ipython-input-56-05e275c4704d>, line 2)

In [60]:
d={4:"sudh",5:"kumar","#":"sdf"}

In [61]:
d={4:"sudh",5:"kumar","#":"sdf",[12,34,56]:"abc"}

TypeError: unhashable type: 'list'

In [62]:
d={4:"sudh",5:"kumar","#":"sdf",(12,34,56):"asdad"}

In [63]:
#_ is called place holder so you can assing valye 
_=123
type(_)

int

In [64]:
#use a set 
d={4:"sudh",5:"kumar","#":"sdf",{12,34,56}:"asdad"}

TypeError: unhashable type: 'set'

In [65]:
#duplicate key  it will replace value of 1st occurance 
#that why key should be unique 
d={4:"abc",5:"xyx",4:"pqr"}

In [66]:
d

{4: 'pqr', 5: 'xyx'}

In [67]:
d2={1:"sudh",2:"kumar",3:["ML","DL","OOPS"],4:"sudh"}
d2

{1: 'sudh', 2: 'kumar', 3: ['ML', 'DL', 'OOPS'], 4: 'sudh'}

In [68]:
#access of value 
d2[2]# it gives error becuase

KeyError: 2

In [70]:
d2[1]

'sudh'

In [71]:
d2[3]

['ML', 'DL', 'OOPS']

In [73]:
d2[5]

KeyError: 5

In [76]:
d={"k1":"ineuron","k2":"ineuron"}
d

{'k1': 'ineuron', 'k2': 'ineuron'}

In [80]:
d={"k1":"ineuron","k2":"ineuron","k3":{"a":"value1","b":"value2"}}

d

{'k1': 'ineuron', 'k2': 'ineuron', 'k3': {'a': 'value1', 'b': 'value2'}}

In [85]:
d['k3']['a']
#dictionaty inside dicttionry

'value1'

In [86]:
#append new key and value
d["k4"]=345
d

{'k1': 'ineuron',
 'k2': 'ineuron',
 'k3': {'a': 'value1', 'b': 'value2'},
 'k4': 345}

In [88]:
#if we take same key then what will happen
d["k1"]=34
d

{'k1': 34, 'k2': 'ineuron', 'k3': {'a': 'value1', 'b': 'value2'}, 'k4': 345}

In [89]:
#it will not create new one  but will update value

In [90]:
#itreate by for loop
for i in d:
    print(i)

k1
k2
k3
k4

In [91]:
#get list of all keys 
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [92]:
#all values 
d.values()

dict_values([34, 'ineuron', {'a': 'value1', 'b': 'value2'}, 345])

In [93]:
#key and value 
d.items()

dict_items([('k1', 34), ('k2', 'ineuron'), ('k3', {'a': 'value1', 'b': 'value2'}), ('k4', 345)])

In [95]:
list(d.keys())[0]

'k1'

In [96]:
# check in dict if value is dict then print 
for i in d.keys():
    if type(d[i])==dict:
        print(d[i])

{'a': 'value1', 'b': 'value2'}

In [100]:
#lets suppose if asking try to create key value pair where key will be inter
# and value will be sequure 0,10
d={}
for i in range(11):
     d[i]=i**2
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [102]:
#simplified  by dict coprehension
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [104]:
s="ineuron"
#create dic where each and every char will key and value will be ineuron
{i:s for i in  s}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [116]:
# find largets value from dictionary 
d={"ineuron":{"a":23,"b":34,"c":56},'course':{'d':45,'e':12}}
d
max=0
for i in d.values():
    for j in i.values():
        if(max<j):
            max=j
print(max)

56

In [125]:
d={"ineuron":{"a":23,"b":34,"c":56},'course':{'d':45,'e':12},"xyz":99}
max=0
for i in d.values():
           if type(i)==int:
            if max<i:
                max=i
            else:
                for j in i.values():
                     if(max<j):
                            max=j
        
print(max)

99

In [127]:
s=set(d.values())
s

TypeError: unhashable type: 'dict'

l=list(d.values())

In [128]:
l=list(d.values())

In [129]:
l

[{'a': 23, 'b': 34, 'c': 56}, {'d': 45, 'e': 12}, 99]

In [133]:
 for i in l:
        print(i.items())

dict_items([('a', 23), ('b', 34), ('c', 56)])
dict_items([('d', 45), ('e', 12)])

AttributeError: 'int' object has no attribute 'items'

In [211]:
#query@ineuron.in
def  GetMaxNumber( a, b):
    if(a<b):
        return b
    else :
        return a
    
 
d={"ineuron":{"a":23,"b":34,"c":56},'course':{'d':160,'e':12},"xyz":99,'f':100.29,"bool":True,"comp":7+8j,
   'list':[1,2,3,4,130],'tuple':(1,2,135,10),"set":{1,2,140,12,2.345}}
maxno=float("0.0")
print(GetMaxNumber(4,5))
for i in d.values():
    objecttype=type(i) #determine object type before do any operation
   
    if(objecttype==bool or objecttype==str or objecttype==complex ):
        continue
    elif (objecttype == int or objecttype==float ):
      #  print(i)
        if(maxno<float(i)):
            maxno=float(i)
    elif objecttype == dict:
        for j in i.values():
            if(type(j) == int or type(j)==float ):
                if(maxno<float(j)):
                    maxno=float(j)
        
    elif objecttype == list or objecttype == tuple :  
        for j in i:
            if(type(j) == int or type(j)==float ):
                if(maxno<float(j)):
                    maxno=float(j)
            
    elif objecttype == set:
         for j in list(i):
                if(type(j) == int or type(j)==float ):
                    if(maxno<float(j)):
                        maxno=float(j)
    
        
print(maxno)

5
160.0

In [5]:
#query@ineuron.in
#
d={"ineuron":{"a":23,"b":34,"c":180},'course':{'d':160,'e':12,"Sublist":[1,2,169.40,12]},"xyz":99,'f':168.29,"bool":True,"comp":7+8j,
   'list':[1,2,3,4,130],'tuple':(1,2,135,10),"set":{1,2,140,12,2.345}}
 #get max number                
def  GetMaxNumber( a, b):
    #print(b)
    returnvalue=a;
    obtype=type(b) #determine object type before do any operation
    if(obtype==bool or obtype==str or obtype==complex ):
        returnvalue=a
       
    elif (obtype == int or obtype==float ):
            if(returnvalue<b):
                returnvalue=b
           
    elif obtype == dict:
        for j in b.values():
            returnvalue=GetMaxNumber(returnvalue,j)
             
        
    elif obtype == list or obtype == tuple :  
        for j in b:
            returnvalue= GetMaxNumber(returnvalue,j)
            
    elif obtype == set:
         for j in list(b):
                returnvalue=GetMaxNumber(returnvalue,j)
    else:
        returnvalue=a
    return returnvalue        
    
maxno=float("0.0")

for i in d.values():
     maxno= GetMaxNumber(maxno,i)
    
    
        
print(maxno)

180